.box {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;

    width: 40vh;
    height: 68.25vh;
}
